@inherits LayoutComponentBase

<div class="page">

    <main>
        <div class="app-container">
            <div class="header">
                <div class="header-item item1">
                    <img src="arrow-back.png" />
                </div>
                <div class="header-item appname">
                    Agile Toolbox
                </div>
                <div class="header-item item2">
                    <img src="bars-solid.svg" />
                </div>
            </div>
            <div class="main">
                @Body
            </div>
        </div>
    </main>
</div>
