@inherits LayoutComponentBase
@inject NavigationManager NavManager;

<div class="app-container">
    <div class="header">
        <img src="arrow-back.png" class="header-item item1" @onclick="NavigateHome"/>
        <div class="header-item item2">
        </div>
        <div class="header-item appname">
            5 Dimensions of Agile
        </div>
    </div>
    <div class="main">
        @Body
    </div>
    <div class="footer">
        <div class="header-item elicit">
            Elicit
        </div>
        <div class="header-item item2"></div>
        <div class="header-item item1">
        </div>
    </div>
</div>


@code {
    private void NavigateHome()
    {
		NavManager.NavigateTo("/");
    }
}
