@inject ISignalrContext signalr;
@using MauiBlazor.SignalR;
@using _SharedSignalR.Models;

@if(page == Pages.ClientJoinRoom)
{
    <JoinRoom OnSubmitted="OnRoomSubmitted" />
    <p>@NameExists</p>
}
else if(page == Pages.ClientLobby) {
    <Lobby />
}
else
{
    <h2>Something went wrong. Unexpected page.</h2>
}

@code {
    Pages page = Pages.ClientJoinRoom;
    public string NameExists { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        await signalr.Start();
    }

    //TODO:Validate roomname
    async Task<bool> SettingsValidation(UserSettings settings)
    {
        if (!(await signalr.GroupNameExists(settings.Room)))
        {
            NameExists = "Group doesn't exist";

            await InvokeAsync(StateHasChanged);
            return false;
        }

        return true;
    }

    async void OnRoomSubmitted(UserSettings settings)
    {
        if (!(await SettingsValidation(settings)))
            return;

        signalr.Settings = settings;
        page = Pages.ClientLobby;

        await InvokeAsync(StateHasChanged);
    }
}
