@inject ISignalrContext signalr;
@using MauiBlazor.SignalR;
@using _SharedSignalR.Models;
<h3>Client</h3>

@if(page == Pages.ClientJoinRoom)
{
    <JoinRoom OnSubmitted="OnRoomSubmitted" />
}
else if(page == Pages.ClientLobby) {
    <Lobby />
}
else
{
    <h2>Something went wrong. Unexpected page.</h2>
}

@code {
    Pages page = Pages.ClientJoinRoom;

    //TODO:Validate roomname
    bool SettingsValidation(UserSettings settings)
    {
        return true;
    }

    void OnRoomSubmitted(UserSettings settings)
    {
        if (!SettingsValidation(settings))
            return;

        signalr.Settings = settings;
        page = Pages.ClientLobby;
    }
}
