p {
    position:absolute;
    font-size: 2vh;
    text-shadow: 
        1px 1px hsl(0deg 0% 0% / 0.050),
        0 2px 2px hsl(0deg 0% 0% / 0.052),
        0 3px 3px hsl(0deg 0% 0% / 0.054),
        0 4px 4px hsl(0deg 0% 0% / 0.056),
        0 5px 5px hsl(0deg 0% 0% / 0.058);
}