@page "/"


@if (pageView == Pages.Home)
{
	<div>
		<div><h4 @onclick="()=>pageView=Pages.ClientJoinRoom">Join room</h4></div>
		<div><h4 @onclick="()=>pageView=Pages.LeaderCreateRoom">Create room</h4></div>
	</div>
}
else if (pageView == Pages.ClientJoinRoom)
{
	<Client />
}
else if (pageView == Pages.LeaderCreateRoom)
{
	<Leader />
}
else
{
	<h1>Oops, something went wrong :(</h1>
}


@code {
	private Pages pageView = Pages.Home;
	private int number = 0;
}