@page "/"

    @if (pageView == Pages.Home)
    {
        <span></span>
        <div class="button-container">
            <button class="join" @onclick="()=>pageView=Pages.ClientJoinRoom">Join room</button>
            <button class="create" @onclick="()=>pageView=Pages.LeaderCreateRoom">Create room</button>
        </div>
        <span></span>
    }
    else if (pageView == Pages.ClientJoinRoom)
    {
        <Client />
    }
    else if (pageView == Pages.LeaderCreateRoom)
    {
        <Leader />
    }
    else
    {
        <h1>Oops, something went wrong :(</h1>
    }


@code {
    private Pages pageView = Pages.Home;
}