@page "/"
@using Microsoft.AspNetCore.SignalR.Client;
@inject NavigationManager NavManager;
@implements IAsyncDisposable;

<div class="app-container">
    <div class="header">
        <img src="arrow-back.png" class="header-item item1" />
        <div class="header-item item2">
        </div>
        <div class="header-item appname">
            5 Dimensions of Agile
        </div>
    </div>
    <div class="main">
        <div><a href="/joinroom">Join room</a></div>
        <div></div>
        <div><a href="/createroom">Create room</a></div>
        <div></div>
    </div>
    <div class="footer">
        <div class="header-item elicit">
            Elicit
        </div>
        <div class="header-item item2"></div>
        <div class="header-item item1">
        </div>
    </div>
</div>


@code {
    HubConnection hubConnection;
    List<string> messages = new();
    string messageInput = "";

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl("https://localhost:7242/signalr")

            .WithAutomaticReconnect()
            .Build();

        hubConnection.On<string>("ReceiveMessage", (msg) =>
        {
            messages.Add(msg);
            InvokeAsync(StateHasChanged);
        });

        await hubConnection.StartAsync();

        await base.OnInitializedAsync();
    }

    private async Task Send()
    {
        if(hubConnection is not null)
        {
            await hubConnection.SendAsync("SendMessageToUsers", messageInput);
            messageInput = "";
        }
    }

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}