<input @bind="roomname" placeholder="Room name" /><br />
<a @onclick="OnSubmit">Join</a>

@code {
    public string roomname = "";

    [Parameter]
    public EventCallback<string> OnSubmitted { get; set; }

    public async Task OnSubmit()
    {
        await OnSubmitted.InvokeAsync(roomname);
    }

}
