@using _SharedSignalR.Models;
<span></span>
<div class="joinroom-container">
    <input type="text" @bind="@username" placeholder="Your name" />
    <input type="text" @oninput="onButtonChange" placeholder="Room name" />
</div>

<button disabled=@buttonDisabled @onclick="OnSubmit">Join</button>

@code {
    UserSettings settings = new();
    public string roomname = "";
    public string username = "";
    bool buttonDisabled = true;

    [Parameter]
    public EventCallback<UserSettings> OnSubmitted { get; set; }

    void onButtonChange(ChangeEventArgs args)
    {
        roomname = args.Value.ToString();

        buttonDisabled = roomname == "";
        StateHasChanged();
    }

    public async Task OnSubmit()
    {
        settings.Room = roomname;
        settings.Username = username;
        await OnSubmitted.InvokeAsync(settings);
    }

}
