@using MauiBlazor.SignalR;

@using _SharedSignalR.Models

@inject ISignalrContext signalR
<div>
	@if (nav == Pages.LeaderCreateRoom)
	{
		<h1>@roomName</h1>
		<div>
			<button disabled="@(roomsInUse is null)" @onclick="GenerateRandomRoomName">@(roomName==""?"Get room name":"Get another name")</button>
			<button @onclick="CreateRoom">Create Room</button>
		</div>
		<div>
			<div>
				<p>@errorMessage</p>
			</div>
			@if (signalR.Connected)
			{
				<code>Connected</code>
			}
			else
			{
				<code>Not connected</code>
			}
		</div>
	}
	else
	{
		<CascadingValue Value="numberOfClientsJoined">
			<LeaderSelectMode />
		</CascadingValue>
	}
</div>

@code {

	private Pages nav = Pages.LeaderCreateRoom;
	private string roomName = "";
	private string errorMessage = "";
	private int numberOfClientsJoined = 0;
	private HashSet<string> roomsInUse;
	private List<IDisposable> disposables = new();

	protected override async Task OnInitializedAsync()
	{
		disposables.Add(signalR.OnJoin(OnClientJoined));
		disposables.Add(signalR.OnRoomNamesInUse(OnGetRoomNamesInUse));
		await signalR.Start();
		await signalR.GetRoomNamesInUse();
	}

	private async void OnClientJoined(JoinRoomData data)
	{
		numberOfClientsJoined++;
		await InvokeAsync(StateHasChanged);
	}

	private void OnGetRoomNamesInUse(HashSet<string> roomsList)
	{
		roomsInUse = roomsList;
		GenerateRandomRoomName();
		InvokeAsync(StateHasChanged);
	}

	private async Task CreateRoom()
	{
		signalR.Settings.Room = roomName;

		if(!(await signalR.AddGroupName(roomName)))
		{
			errorMessage = "Room name already exists";
			return;
		}

		await signalR.JoinRoom();
		if (signalR.Connected) nav = Pages.LeaderSelectMode;
	}

	private void GenerateRandomRoomName()
	{
		var random = new Random();
		string[] firstWord =
			{
			"Amazing",
			"Brave",
			"Cute",
			"Daring",
			"Eager",
			"Fast",
			"Good",
			"Helpful",
			"Ignorant",
			"Jolly",
			"Kind",
			"Lazy",
			"Massive",
			"Nice",
			"Odd",
			"Passive",
			"Quirky",
			"Resting",
			"Somber",
			"Tall",
			"Useful",
			"Vast",
			"Willing",
			"Young"
	};
		string[] secondWord =
		{
			"Anaconda",
			"Balloon",
			"Canoe",
			"Dancer",
			"Elk",
			"Frog",
			"Gorilla",
			"Helmet",
			"Idol",
			"Jungle",
			"Kingdom",
			"Llama",
			"Monster",
			"Night",
			"Oyster",
			"Pelican",
			"Quiver",
			"Runner",
			"Smile",
			"Tango",
			"Uniform",
			"Voice",
			"Workshop",
			"Yak",
			"Zone",

	};
		while(String.IsNullOrEmpty(roomName) || roomsInUse.Contains(roomName))
		{
			roomName = firstWord[random.Next(firstWord.Length)] + " " + secondWord[random.Next(secondWord.Length)];
		}
	}


}
