@using MauiBlazor.SignalR;

@using _SharedSignalR.Models

@inject ISignalrContext signalR
<div>
	@if (nav == Pages.LeaderCreateRoom)
	{
		<h1>@roomName</h1>
		<div>
			<button @onclick="GenerateRandomRoomName">Get another name</button>
			<button @onclick="CreateRoom">Create Room</button>
		</div>
		<div>
			@errorMessage;
			@if (signalR.Connected)
			{
				<code>Connected</code>
			}
			else
			{
				<code>Not connected</code>
			}
		</div>
	}
	else
	{
		<LeaderSelectMode />
	}
</div>

@code {

	private Pages nav = Pages.LeaderCreateRoom;
	private string roomName = "";
	private string errorMessage = "";

	public Leader()
	{
		GenerateRandomRoomName();
	}
	private async Task CreateRoom()
	{
		signalR.Settings.Room = roomName;
		await signalR.Start();

		if(!(await signalR.AddGroupName(roomName)))
		{
			errorMessage = "Room name already exists";
			return;
		}

		await signalR.JoinRoom();
		if (signalR.Connected) nav = Pages.LeaderSelectMode;
	}

	private void GenerateRandomRoomName()
	{
		var random = new Random();
		string[] firstWord =
			{
			"Amazing",
			"Brave",
			"Charismatic"
	};
		string[] secondWord =
		{
			"Anaconda",
			"Balloon",
			"Canoe"
	};
		roomName = firstWord[random.Next(firstWord.Length)] + " " + secondWord[random.Next(secondWord.Length)];

	}


}
