@keyframes spinner {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }

    100% {
        transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}

.spin::before {
    --size: 30vh;
    animation: 1.5s ease-in-out infinite spinner;
    animation-play-state: inherit;
    border: solid 1px #cfd0d1;
    border-bottom-color: #199F63;
    border-radius: 50%;
    content: "";
    height: var(--size);
    width: var(--size);
    transform: translate3d(-50%, -50%, 0);
    will-change: transform;
    position: absolute;
}

.lobby-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 65vw;
    height: 100%;
    padding: 5vh;
    overflow-y: auto;
    overflow-x: hidden;
}