@foreach(int number in fibNumbers)
{
    <button @onclick="()=>SelectedValue(number)">@number</button>
}

@code {
    [Parameter]
    public EventCallback<int> OnSelectedValue { get; set; }

    private int[] fibNumbers= new[] {1,2,3,5,8,13};

    Task SelectedValue(int value)
    {
        return OnSelectedValue.InvokeAsync(value);
    }
}
