@using MauiBlazor.Pages.General;
@using MauiBlazor.SignalR;
@using _SharedSignalR.Models;
@inject ISignalrContext signalr;

<table>
<tr>
    <th>Name</th>
    <th>Vote</th>
</tr>
@foreach (var result in results.Votes)
{
    <tr>
        <td>result.Username</td>
        <td>result.Answer</td>
    </tr>
}
</table>

@code {
    [Parameter]
    public PokerVoteResults Results { get; set; }
    PokerVoteResults results;
    List<IDisposable> disposables = new();

    protected override async Task OnInitializedAsync()
    {
        results = Results;

        disposables.AddRange(new[] {
            signalr.OnPokerResults(OnPokerResults)
        });

        await signalr.Start();
    }

    async void OnPokerResults(PokerVoteResults results)
    {
        this.results = results;
        await InvokeAsync(StateHasChanged);
    }

}
