table {
    width: 100%;
    text-align: center;
}

thead {
    font-size: 1.5em;
    text-align: center;
}

tbody {
    font-size: 1.2em;
}

tbody > tr:nth-child(odd) {
    background-color: darkgrey;
}
