.leader-poker-radio-wrap {
    display: flex;
    flex-direction: row;
}

.style-select-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
}

.selected {
    border: 5px solid red;
}
.style-select-btn {
    all: unset;
    cursor: pointer;
    padding: 10px;
}
img{
    padding: 5px;
}