@foreach(string answer in Answers)
{
    <button @onclick="()=>SelectedValue(answer)">@answer</button>
}

@code {
    [Parameter]
    public EventCallback<string> OnSelectedValue { get; set; }
    [Parameter]
    public IEnumerable<string> Answers{ get; set; }

    private string[] fibNumbers= new[] {"1","2","3","5","8","13"};

    Task SelectedValue(string value)
    {
        return OnSelectedValue.InvokeAsync(value);
    }
}
